*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1.7;
  padding: 3rem; }

.heading-primary--main {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 0.6rem;
  color: #fff;
  animation: moveInLeft ease-out 1.5s; }

.heading-primary--sub {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 2px;
  animation: moveInRight ease-out 1.5s; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .heading-secondary--white {
    color: #fff; }
    .heading-secondary--white:after {
      content: " ";
      display: block;
      width: 6rem;
      height: 2px;
      background-color: #fff;
      margin: 0 auto; }
  .heading-secondary--gold {
    color: #A08244; }
    .heading-secondary--gold:after {
      content: " ";
      display: block;
      width: 6rem;
      height: 2px;
      background-color: #A08244;
      margin: 0 auto; }
  .heading-secondary--guides {
    font-size: 4.5rem; }

.paragraph {
  font-size: 1.4rem;
  text-align: left; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.u-margin-top-big {
  margin-top: 15rem; }

.u-margin-top-medium {
  margin-top: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-center-text {
  text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^=col-] {
    float: left; }
    .row [class^=col-]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - 12rem) / 3); }
  .row .col-1-of-4 {
    width: calc( (100% - 18rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2*((100% - 12rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2*((100% - 18rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3*((100% - 18rem) / 4) + 12rem); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  display: block;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 7rem;
  right: 10rem;
  border-radius: 50%;
  background-color: #fff;
  padding: 2rem;
  z-index: 1000;
  text-align: center;
  border: 3px solid #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.navigation__icon {
  font-weight: 100;
  position: relative;
  z-index: 1000; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 2.5rem;
    height: 2px;
    background-color: #555; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    transition: all 0.2s; }
  .navigation__icon::before {
    margin-top: -0.8rem; }
  .navigation__icon::after {
    margin-top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  margin-top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  margin-top: 1rem; }

.navigation__background {
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header-background2.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 85vh, 50% 100%, 100% 85vh, 100% 0, 0 0);
  z-index: 500;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transition: all 0.4s; }

.navigation__nav {
  opacity: 0;
  width: 30%;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 700;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #fff;
  list-style: none;
  text-align: center; }

.navigation__logo {
  position: absolute;
  top: 25rem;
  left: 47%;
  height: 12rem;
  width: 12rem; }

.navigation__logo-img {
  width: 100%; }

.navigation__link:visited, .navigation__link:link {
  text-decoration: none;
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 3px;
  font-weight: 700;
  transition: all 0.4s; }
  .navigation__link:visited:hover, .navigation__link:link:hover {
    color: #A08244; }

.navigation__checkbox:checked ~ .navigation__background {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 0.1rem 5rem;
  font-size: 1.6rem;
  position: relative;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.4s;
  backface-visibility: hidden; }

.btn--white:link, .btn--white:visited {
  color: #fff;
  border: 2px solid #fff; }

.btn--white:hover {
  background-color: #fff;
  color: #A08244;
  transform: translateY(-3px);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }

.btn--white:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn--gold:link, .btn--gold:visited {
  color: #A08244;
  border: 2px solid #A08244; }

.btn--gold:hover {
  background-color: #A08244;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }

.btn--gold:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation: moveInBottom 2s ease-in; }

.composition {
  width: 100%;
  position: relative; }
  .composition__photo {
    width: 50%;
    position: absolute;
    transition: all 0.3s;
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.6); }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 3rem;
      left: 40%; }
    .composition__photo--p3 {
      top: 5rem;
      left: 22%;
      width: 35%; }
    .composition__photo:hover {
      transform: scale(1.1) translateY(-1.5rem);
      z-index: 10; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.news-box {
  width: 65%;
  height: 20rem;
  position: relative;
  color: #A08244;
  border: 2px solid #A08244;
  margin: 0 auto;
  margin-top: 12rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3); }
  .news-box--1 {
    margin-left: 30%; }
  .news-box--2 {
    margin-right: 30%;
    text-align: right; }
  .news-box__date {
    font-size: 1.8rem;
    position: absolute;
    top: 5rem;
    right: -2.5rem;
    transform: rotate(90deg);
    z-index: 5; }
  .news-box__img {
    width: 100%;
    position: absolute;
    border-radius: 1px;
    top: -6rem;
    left: -3rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); }
  .news-box__title {
    position: absolute;
    font-size: 2.4rem;
    text-transform: uppercase;
    left: 5%;
    top: 80%; }
  .news-box__arrow {
    display: inline-block;
    position: absolute;
    top: 80%;
    right: .5rem; }
    .news-box__arrow:before {
      font-size: 2.2rem;
      font-weight: 700; }
  .news-box__right-arrow {
    display: inline-block;
    transform: translate(10rem, 3rem); }
    .news-box__right-arrow:before {
      font-size: 4rem; }
  .news-box__left-arrow {
    display: inline-block;
    transform: translate(-16rem, 3rem); }
    .news-box__left-arrow:before {
      font-size: 4rem; }

.fact {
  width: 80%;
  height: 30rem;
  position: relative;
  margin: 0 auto; }
  .fact__box {
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgba(160, 130, 68, 0.5);
    border-radius: 50%; }
  .fact__number {
    font-size: 8rem;
    color: #fff;
    margin-top: -1rem;
    font-weight: 400; }
  .fact__text {
    color: #fff;
    font-size: 1.8rem;
    margin-top: -3rem;
    font-weight: 300; }
  .fact__icon {
    transform: translate(7rem, -2rem);
    color: #A08244; }
    .fact__icon i::before {
      font-size: 4rem; }

.guide {
  width: 90%;
  position: relative;
  margin: 0 auto;
  height: 30rem; }
  .guide__box {
    width: 23rem;
    height: 23rem;
    margin: 0 auto;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }
  .guide__img {
    height: 100%;
    transform: translateX(-5rem);
    backface-visibility: hidden; }
  .guide__name {
    font-size: 1.9rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    font-weight: 300; }
  .guide__social {
    text-align: center;
    transform: translateX(-1rem); }
  .guide__icon {
    color: #fff;
    text-align: center; }
    .guide__icon::before {
      font-size: 1.8rem; }

.guide-card {
  width: 100%;
  position: relative; }
  .guide-card__box {
    position: relative;
    width: 22rem;
    height: 32rem;
    border: 1.5px solid #A08244;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .guide-card__box--1 {
      margin-left: 42%; }
    .guide-card__box--2 {
      margin-left: 17%; }
  .guide-card__icon {
    color: #A08244; }
    .guide-card__icon:before {
      font-size: 2.5rem;
      margin: 1rem; }
  .guide-card__icon-text {
    color: #555;
    font-size: 1.8rem;
    text-transform: uppercase; }
  .guide-card__img-box {
    height: 24rem;
    width: 20rem; }
  .guide-card__img {
    width: 100%;
    height: 100%;
    transform: translateX(-3rem);
    border-radius: 1px; }
  .guide-card__button {
    position: absolute;
    top: 42%;
    right: -2.5rem;
    width: 5rem;
    height: 5rem; }
  .guide-card__link:visited, .guide-card__link:link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
    background-color: #A08244;
    transition: all 0.5s; }
    .guide-card__link:visited:hover, .guide-card__link:link:hover {
      background-color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-0.3rem); }
    .guide-card__link:visited:active, .guide-card__link:link:active {
      transform: translateY(0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .guide-card__arrow {
    color: #fff; }
    .guide-card__arrow:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      margin-left: 0.3rem;
      transition: all 0.5s; }
  .guide-card__link:hover .guide-card__arrow:before {
    color: #A08244; }
  .guide-card__name {
    font-size: 1.6rem;
    padding-left: 0.5rem;
    text-transform: uppercase; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header-background2.jpg);
  background-size: cover;
  background-position: top;
  height: 95vh;
  position: relative;
  clip-path: polygon(0 75vh, 50% 100%, 100% 75vh, 100% 0, 0 0);
  z-index: 10; }
  .header__box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-45%, -50%);
    text-align: center;
    backface-visibility: hidden; }
  .header__logo-box {
    position: absolute;
    top: 5rem;
    left: 10rem; }
  .header__logo {
    height: 5rem; }

.section-about {
  position: relative;
  margin-top: -20vh;
  padding: 30rem 0 35rem 0;
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.88)), url(../img/about-background.jpg);
  background-size: cover;
  z-index: 7;
  clip-path: polygon(0 100%, 100% 75%, 100% 0, 0 0); }

.section-facts {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/facts-background.jpg);
  background-size: cover;
  padding: 30rem 0 35rem 0;
  background-position: top;
  margin-top: -34rem;
  clip-path: polygon(0 75%, 100% 100%, 100% 0, 0 0);
  z-index: 6; }

.section-guides {
  position: relative;
  background-image: linear-gradient(rgba(85, 85, 85, 0.8), rgba(85, 85, 85, 0.8)), url(../img/guides-background.jpg);
  background-size: cover;
  padding: 30rem 0 30rem 0;
  background-position: top;
  margin-top: -36rem;
  clip-path: polygon(0 100%, 100% 75%, 100% 0, 0 0);
  z-index: 4; }

.section-news {
  padding: 30rem 0 20rem 0;
  clip-path: polygon(0 90%, 50% 100%, 100% 90%, 100% 0, 0 0);
  background-image: linear-gradient(rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.88)), url(../img/news-background.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -32rem;
  position: relative;
  z-index: 3; }

.footer {
  padding: 20rem 0 6rem 0;
  background-color: #333;
  margin-top: -20rem;
  z-index: 2; }
  .footer__logo {
    float: left;
    margin-top: 1.5rem; }
  .footer__logo-img {
    height: 5rem; }
  .footer__nav {
    float: right;
    padding-top: 3rem;
    color: #fff;
    list-style-type: none; }
  .footer__li {
    display: inline-block;
    padding-right: 2rem;
    font-size: 1.8rem;
    font-weight: 300; }

.header--guides {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/guides-header-background.jpg);
  height: 25vh;
  clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 0 0); }

.header__box--guides {
  top: 50%; }

.guides-list {
  padding: 25rem 0 15rem 0;
  margin-top: -6rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.88)), url(../img/guides-list-background.jpg);
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 95%, 50% 100%, 100% 95%, 100% 0, 0 0); }
