@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";  
@import "base/animations";
@import "base/utillities";

@import "layout/grid"; 

@import "components/buttons";
@import "components/composition"; 
@import "components/fact"; 



@import "pages/home";     
 
  