.composition {
    width:100%;
    position: relative;
    

    &__photo{
        width: 50%;
        position: absolute;
        transition: all 0.3s;
        box-shadow: 0 4rem 8rem rgba($color-black,0.6);  

        &--p1{
            top: -1rem;
            left:0;
        }
        &--p2{
            top: 3rem;
            left:40%;
        }
        &--p3{
            top: 5rem;
            left: 22%;
            width: 35%;  
        }

        &:hover{
            transform: scale(1.1) translateY(-1.5rem);
            z-index: 10;
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(0.95);
    }


}