.news-box{
    width: 65%; 
    height: 20rem;
    position: relative;
    color: $color-primary;
    border:2px solid $color-primary;
    margin: 0 auto;
    margin-top: 12rem;
    box-shadow: 0 2rem 4rem rgba($color-black,0.3);  

    &--1{
        margin-left: 30%;
        
    }

    &--2{
        margin-right: 30%;
        text-align: right;
    }

    &__date{
        font-size: 1.8rem;
        position: absolute;
        top: 5rem; 
        right: -2.5rem;
        transform: rotate(90deg);
        z-index: 5;
    }

    &__img{ 
        width: 100%; 
        position: absolute;
        border-radius: 1px;
        top: -6rem;
        left: -3rem;  
        box-shadow: 0 1.5rem 3rem rgba($color-black,0.2);  
    }

    &__title{
        position: absolute;
        font-size: 2.4rem;
        text-transform: uppercase;
        left:5%;
        top: 80%;
    }

    &__arrow{
        display:inline-block;
        position: absolute;
        top: 80%;
        right: .5rem;

        &:before{
            font-size: 2.2rem;
            font-weight: 700;
        }
    }

    &__right-arrow{
        display: inline-block;
        transform: translate(10rem,3rem);

        &:before{
            font-size: 4rem;
        }
    }

    &__left-arrow{
        display: inline-block;
        transform: translate(-16rem,3rem);

        &:before{
            font-size: 4rem;
        }
    }

}