.fact{
    width: 80%;
    height: 30rem;
    position: relative;
    margin: 0 auto;

    &__box{
        width: 14rem; 
        height: 14rem;
        position: absolute;
        top:40%; 
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center; 
        border: 1px solid rgba($color-primary,0.5);
        border-radius: 50%;
        
        
    }

    &__number{
        font-size: 8rem;
        color: $color-white;
        margin-top: -1rem;
        font-weight: 400;
    }

    &__text{
        color:$color-white;
        font-size: 1.8rem;
        margin-top: -3rem;
        font-weight: 300;
    }

    &__icon{
        transform: translate(7rem,-2rem);   
        color:$color-primary;
        
        & i::before{
            font-size: 4rem;
        }
    }
} 
 