body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color:$color-gray; 
    line-height: 1.7;
    padding: 3rem;
}

.heading-primary{
    &--main{
        display:block;
        font-weight: 700; 
        text-transform: uppercase;
        font-size: 5rem;
        letter-spacing: 0.6rem;
        color:$color-white;
        animation: moveInLeft ease-out 1.5s ;
    }
    &--sub{
        display: block;
        color: $color-white;
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
        letter-spacing: 2px;
        animation: moveInRight ease-out 1.5s  ;
    }
} 

.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    &--white{
        color:$color-white;

        &:after{
            content: " ";
            display:block;
            width: 6rem; 
            height: 2px;
            background-color:$color-white; 
            margin: 0 auto;
        }
    }

    &--gold{
        color:$color-primary;

        &:after{
            content: " ";
            display:block;
            width: 6rem; 
            height: 2px;
            background-color:$color-primary; 
            margin: 0 auto;
        }
    }
    
    &--guides{
        font-size: 4.5rem;
    }

   
}

.paragraph{
    font-size: 1.4rem;
    text-align: left;
}