.u-margin-top-big{margin-top:15rem;}
.u-margin-top-medium{margin-top:5rem;} 

.u-margin-bottom-medium{margin-bottom:4rem;}  
.u-margin-bottom-huge{margin-bottom:6rem;}  

.u-center-text{text-align: center;}  