.header{
    &--guides{
        background-image:linear-gradient(rgba($color-black,0.3), rgba($color-black,0.3)), url(../img/guides-header-background.jpg);   
        height: 25vh;
        clip-path: polygon(0 75%,50% 100%,100% 75%,100% 0,0 0);
    }

    &__box--guides{
        top: 50%;
    }
} 

.guides-list{
    padding: 25rem 0 15rem 0;
    margin-top: -6rem;
    background-image:linear-gradient(rgba($color-white,0.88), rgba($color-white,0.88)), url(../img/guides-list-background.jpg);
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 95%,50% 100%,100% 95%,100% 0,0 0); 
}