
.header{
    background-image:linear-gradient(rgba($color-black,0.3), rgba($color-black,0.3)), url(../img/header-background2.jpg);
    background-size:cover;
    background-position: top;      
    height: 95vh;
    position: relative;
    clip-path: polygon(0 75vh,50% 100%,100% 75vh,100% 0,0 0);
    z-index: 10; 


    &__box{
        position: absolute;
        top:30%; 
        left:50%; 
        transform: translate(-45%, -50%);
        text-align: center;
        backface-visibility: hidden;
    }
 

    &__logo-box{
        position: absolute; 
        top:5rem;
        left:10rem;
        
        
        
    } 
  
    &__logo{ 
        height: 5rem;
    }
}

.section-about{
    position: relative;
    margin-top: -20vh;
    padding: 30rem 0 35rem 0;
    text-align: center;
    background-image:linear-gradient(rgba($color-white,0.88), rgba($color-white,0.88)), url(../img/about-background.jpg);
    background-size:cover; 
    z-index: 7;   
    clip-path: polygon(0 100%, 100% 75%, 100% 0,0 0);
    
}    

.section-facts{
    position: relative;
    background-image:linear-gradient(rgba($color-black,0.8), rgba($color-black,0.8)), url(../img/facts-background.jpg);
    background-size:cover; 
    padding: 30rem 0 35rem 0;
    background-position: top;
    margin-top:-34rem;
    clip-path: polygon(0 75%,100% 100%,100% 0,0 0);
    z-index: 6;
} 

.section-guides{
    position: relative;
    background-image:linear-gradient(rgba($color-gray,0.8), rgba($color-gray,0.8)), url(../img/guides-background.jpg);
    background-size:cover; 
    padding: 30rem 0 30rem 0;
    background-position: top;
    margin-top: -36rem; 
    clip-path: polygon(0 100%, 100% 75%, 100% 0,0 0);
    z-index: 4;  
} 

.section-news{
    padding:30rem 0 20rem 0;
    clip-path: polygon(0 90%,50% 100%,100% 90%,100% 0,0 0);
    background-image:linear-gradient(rgba($color-white,0.88), rgba($color-white,0.88)), url(../img/news-background.jpg);
    background-size:cover; 
    background-position: top;
    margin-top:-32rem; 
    position: relative;
    z-index: 3;   
}

.footer{
    padding: 20rem 0 6rem 0;
    background-color: $color-gray-dark;
    margin-top: -20rem; 
    z-index:2;
    
    &__logo{
        float: left;
        margin-top: 1.5rem;
    }

    &__logo-img{
        height: 5rem; 
    }

    &__nav{
        float: right;
        padding-top: 3rem;
        color: $color-white;
        list-style-type: none;
    }

    &__li{
        display: inline-block;
        padding-right: 2rem;
        font-size: 1.8rem;
        font-weight: 300; 

    }
}

